*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid-container{
    display: grid;
    display: flex;
    height: 100vh;
    flex-direction: column;
     
}
.header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    background-color: orange;
    border-bottom: 2px solid rgb(212, 0, 255);


}
.main{
    grid-area: main;
    display: flex;
    
}


.aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    height: 83vh;
    padding: 1em;
    overflow: auto;
}
.aside::-webkit-scrollbar{
    width: 10px;
    
}
.aside::-webkit-scrollbar-track{
    border-left:1px solid orange;
}
.aside::-webkit-scrollbar-thumb{
    background-color:orange;
    border-radius: 20px;
    border: 2px solid rgb(212, 0, 255);
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex: 1;
    align-items: center;
    list-style: none;
    font-family:sans-serif;
    font-size: 1.5em;
    
    
}
ul{
    display: flex;
    width: 100%;
    
}

.list  li {
    display: flex;
    flex: 1;
    justify-content: center;
    color: orange;
    align-items: center;
    cursor: pointer;
    border: 2px solid rgb(212, 0, 255);
    border-radius: 2em;
    height:  2em;
    width: 100%;
    padding: .5em;
    list-style: none;
    word-wrap: break-word;
    
}
li:hover{
    color: orange;
    background-color: rgba(212, 0, 255, 0.459);
    border: 2px solid  orange;
    
}
li:active{
    color: rgb(212, 0, 255);
    background-color: orange;
    border: 2px solid rgb(212, 0, 255);
}
.list{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: space-evenly;
    align-items: center;
    cursor:pointer;
}
a {
    text-decoration: none;
    
}
.text{
    word-wrap: break-word;
}

.secciones{
    grid-area: secciones;
    display: flex;
    flex-direction: column;
    height: 83vh;
    overflow: auto;
    color: black;
    padding: 1em;
    
    
}
.secciones::-webkit-scrollbar{
    width: 10px;
    
}
.secciones::-webkit-scrollbar-track{
    border-left:1px solid rgb(212, 0, 255);}
.secciones::-webkit-scrollbar-thumb{
    background-color:  orange;
    
    border-radius: 20px;
    border: 2px solid rgb(212, 0, 255);
}
.section{
    display: flex;
    flex: 1;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    padding: 1em;
    box-shadow: 2px 2px 3px 2px rgb(212, 0, 255);
    border: 2px solid rgb(212, 0, 255);
    border-radius: 2em;
    
    
}
.footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    border-top: 2px solid rgb(212, 0, 255);
    background-color: orange;
    text-transform: capitalize;
}


#grid-container{
    
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "aside"
    "footer"
    ;
}


#grid-container{
    grid-template:
    "header header header"
    "main  main   main"  
    "footer footer footer"
    ;
}
.main{
    display: grid;
    grid-template-areas:
    "aside"
    "secciones"
     ;
}
.main{
    grid-template: 
    "aside secciones secciones";
}





/*calculador PHP*/

.calculadora{
    display: flex;
    flex-direction: column;
   
    border: 2px orange solid ;
    border-radius: 2em;
}
.titlecal{
    display: flex;
 
    justify-content: center;
    align-items: center;
    border-top-right-radius: 1.4em;
    height: 4em;
    border-bottom: 2px orange solid;
   
}
form{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: .1em;
    padding: 1em;
}
select{
    border: 2px rgb(212, 0, 255) solid;
    border-radius: 2em;
}
option{
    border:  2px rgb(212, 0, 255) solid;
}

.valores{
    display: flex;
    border: 2px orange solid;
    height: 2em;
    padding-left: 1em;
    border-radius: 2em;

}
.button{
    border: 2px rgb(212, 0, 255) solid;
    border-radius: 2em;
    padding: .5em;
}




